<div class = "container">
<h1> <%= @book.title %> </h1>

<h4>Author: <%= @book.author.name %> </h4>
<h4>Genre: <%= @book.genre.name %> </h4>

<h4>Rating: <%= @book.avg_rating %></h4>

<h4>Reviews: </h4>
<ul>
<% @book.reviews.each do |r| %>
    <li><%=r.user.name%> : <%= r.message %></li>
<%end%>
</ul>

<button><%= link_to "Add Review", new_book_review_path(@book) %></button>
<button><%= link_to "Back", books_path%></button>

</div>
