<!DOCTYPE html>
<html>
  <head>
    <title>BOOK RAIDERS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#"><%= link_to "BOOK RAIDERS", books_path%></a>
    <a class= "navbar" href="#"> <%= link_to "home", homepage_home_path %> </a>
    <nav class="navbar navbar-expand justify-content-between">
</nav>

    <form class="form-inline">
    <% if current_user.nil? %>
    <a class="navbar-brand" href="#"> <%= link_to "Login",new_session_path%> 
    </a>
    <a class="navbar-brand" href="#"> <%= link_to "Signup", new_user_path %>
    </a>
  <%else%>
  <form class="form-inline">
  <div style="padding-left: 10px;">
    <a class= "navbar-brand" href= "#"> <%=link_to "Profile", user_path(current_user) %>
    </a>
    <a class="navbar-brand" href="#"> <%= link_to "Log Out", logout_path, method: "delete" %>
    </a>
  <%end%> 
    </div>
    </div>
    </form>
  </form>
  </nav>


  <div class="jumbotron jumbotron-fluid" " background-size: 100%;">
  <div class="container for-about">
  <div class="container">
    <h1 class="text-center" "display-4"></h1>
    <p class="text-center"> [ BEWARE AUTHORS ] </p>
  </div>
</div>

  <body>
    <% if flash %>
      <% flash.each do |key, msg| %>
        <div class= "<%= key %>">
        <%= msg %>
        </div>
      <% end%>
    <% end %>

    
    
    <%= yield %>
  </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <footer class="text-center text-lg-start">
  <div class="container p-4">
        <div class = "text-center p-3">
  
          whatcha gonna do when the BOOK RAIDERS come for you? <br>
            © 2021 Harrf + Syd
  </div>
</footer>
</html>