<!DOCTYPE html>
<html>
  <head>
    <title>BOOK RAIDERS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><%= link_to "BOOK RAIDERS", books_path%></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="navbar navbar-light bg-light justify-content-between">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" aria-label="Search">
    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  
    <form class="form-inline">
    <% if current_user.nil? %>
    <a class="btn btn-light" href="#" role="button"> <%= link_to "Login",new_session_path%> 
    </a>
    <a class="btn btn-light" href="#" role="button"> <%= link_to "Signup", new_user_path %>
    </a>
  <%else%>
    <a class= "btn btn-light" href= "#" role= "button"> <%=link_to "Profile", user_path(current_user) %>
    </a>
    <a class="btn btn-light" href="#" role="button"> <%= link_to "Log Out", logout_path, method: 'delete' %>
    </a>
  <%end%> 
    </div>
  </form>
  </nav>


  <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="text-center" "display-4">Rate your favorite && most hated books on Book Raider!</h1>
    <p class="text-center">Sign up today!</p>
  </div>
</div>

  <body>
    <% if flash %>
      <% flash.each do |key, msg| %>
        <div class= "<%= key %>">
        <%= msg %>
        </div>
      <% end%>
    <% end %>

    
    
    <%= yield %>
  </body>
</html>


